%oswald { // headers
  font-family: 'Oswald', sans-serif;
}
%quattro { // body
  font-family: 'Quattrocento Sans', sans-serif;
}
html {
  font-size: 16px;
}
body {
  @extend %quattro;
  color: #333;
  line-height: 1.4;
  > * {
    overflow: hidden;
  }
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: darken(#1691c6, 15%);
  text-decoration: none;
}
a:hover {
  color: darken(#1691c6, 30%);
  text-decoration: underline;
}
ul {
  margin: 0 0 0 1.1em;
  padding: 0;
  a {
    font-weight: bold;
  }
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}
h1 {
  @extend %oswald;
  @include responsive(font-size,5,2);
  letter-spacing: 0.04em;
  line-height: 1.2;
  font-weight: 300;
  margin: 0 0 0.5em;
}
h2 {
  @extend %oswald;
  // font-weight: bold;
  @include responsive(font-size,2.25,1.625);
  margin: -0.15em 0 0.65em;
  line-height: 1.1;
  border-bottom: 1px solid #333;
  @media print {
    font-size: 2em;
  }
}
h3 {
  @extend %oswald;
  @include responsive(font-size,1.75,1.55);
  font-size: 1.75em;
  font-weight: 300;
  margin: 0 0 0.4em;
  line-height: 1.2;
}
p {
  margin: 0 0 1em;
}
p, li {
  font-size: 1rem;
  line-height: 1.3;
}
li {
  margin: 0;
}
h3 + .subhead {
  font-size: 1.2em;
}
h4 {
  @include responsive(font-size,0.9,0.8);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media only screen and (max-width: $bp-small) {
  p, li {
    font-size: 1.125em;
    line-height: 1.3;
  }
}

.site-section {
  margin-bottom: 1.5rem;
  @media print {
    .site-section {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .site-section:last-of-type p:last-of-type {
      margin-bottom: 0;
    }
  }
}
.bg--whitesmoke {
  background-color: whitesmoke;
}
/*
* Resume Header
*/
.resume-header {
  text-align: center;
  display: flex;
  flex-flow: column;
}
.resume-header__image-wrapper {
  height: auto;
  margin-bottom: 1em;
  img {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: auto;
  }
}
.resume-header__meta {
  padding: 0;
  margin: 0;
}
.resume-header__meta-item {
  list-style: none;
  margin-bottom: 0;
}
@media print {
  .resume-header {
		justify-content: space-between;
		flex-flow: row-reverse nowrap;
		text-align: left;
  }
  .resume-header__copy {
    display: flex;
    flex-flow: column;
  }
  .resume-header__image-wrapper {
    margin: 0;
    img {
      width: 98px;
      height: auto;
      display: block;
    }
  }
  .resume-header__title {
    font-size: 2.5em;
    margin-bottom: auto;
  }
  .resume-header__meta-item {
    display: flex;
  }
  .resume-header__meta-inner-item {
    // padding-right: 1em;
    &:after {
      content: "\2003|\2003";
      display: inline;
    }
    &:last-child:after {
      content: none;
    }
  }
}
.introduction {
  margin-top: -0.25rem;  
}
.columnize { @extend .clearfix; }
.columnize-2 .column { width: 50%; }
.columnize-3 .column { width: 33.33%; }
.column {
  float: left;
  padding-right: $span-padding / 4;
  padding-left: $span-padding / 4;
  &:first-child { padding-left: 0; }
  &:last-child { padding-right: 0; }
}
.social-links {
  display: flex;
  margin-top: 1em;
  justify-content: center;
}
.social-link {
  display: block;
  width: 29px;
  height: 29px;
  background-size: contain;
  margin: 0 0.5rem;
}
.social-link__github {
  background-image: url(/images/logo--github.png);
}
.social-link__linkedin {
  background-image: url(/images/logo--linkedin.png);
}
.social-logo {
  width: 29px;
  height: auto;
  vertical-align: middle;
  margin: 0 0.5em;
}
@media print {
  .social-links {
    // flex-flow: column;
    margin-top: 0;
  }
  a.social-link {
    -webkit-print-color-adjust: exact;
    overflow: visible;
    display: block;
    align-items: center;
    margin: 0;
    width: auto;
    height: auto;
    background-size: 14px 14px;
    background-position: left center;
    text-indent: calc(14px + 0.5em);
  }
}
.no-after:after {
  content: none !important;
}
.site-footer__p {
  font-size: 0.75em;
}
//------------------------------------------------------------------------------
// Site Header
//------------------------------------------------------------------------------
/* .site-header__container {
  background-size: auto 100%;
  background-position: left center;
  position: relative;
  z-index: 1;
  background-image: url(/images/bg--golden-gate-bridge.jpg);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(15, 39, 66, 0.5);
  }
}
.valprop__subhead {
  @include responsive(font-size,1.25,1);
}
.valprop--portfolio, // ← to be deleted
.site-header--portfolio {
  @include responsive(height, 500px,350px);
  position: relative;
} */
.site-header {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: white;
}
.site-header__title {
  margin-bottom: 0.5em;
}
.site-header__intro-container {
  background-color: rgba(#333B45,0.9);
  @include responsive(padding-top,2);
  @include responsive(padding-bottom,2);
}
.site-header__intro {
  @include responsive(font-size,1.5,1);
  color: white;
  margin-bottom: 0;
  line-height: 1.3;
}
//------------------------------------------------------------------------------
// Portfolio
//------------------------------------------------------------------------------
.portfolio__header {
  @include responsive(margin-bottom,2);
}
.portfolio__section {
  // @include responsive(padding-top,4);
  @include responsive(padding-bottom,4);
  &:nth-child(2n+1) {
    background-color: whitesmoke;
  }
  &:first-of-type {
    @include responsive(padding-top,2);
  }
}
.portfolio__intro {
  @include responsive(font-size,1.25,1);
}
.portfolio__group {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em;
}
//—————————————————————————————————————————————————————————————————————
// Portfolio Item
//—————————————————————————————————————————————————————————————————————
.portfolio-item {
  text-align: left;
  display: inline-block;
  display: flex;
  width: 50%;
  // max-width: 1000px;
  vertical-align: top;
  margin-top: 0;
  // @include responsive(padding,1.5);
}
.portfolio-item__inner {
  position: relative;
  margin: 1em;
  width: 100%;
  // background-color: white;
  // background-color: whitesmoke;
  border: 1px solid rgba(black,0.1);
}
.portfolio-item__title {
  border-bottom: none;
  font-size: 1.75em;
}
.portfolio-item__tech {
  // font-size: 0.75em;
  margin-top: auto;
}
.portfolio-item__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 33.33%;

  background-size: cover;
  background-position: top right;
}
.portfolio-item__content {
  padding-left: 38%;
  @include responsive(padding-top,2);
  @include responsive(padding-bottom,2);
  @include responsive(padding-right,2);
  p, li {
    font-size: 0.9em;
  }
  li {
    margin: 0 0 0 1em;
  }
}
.portfolio-item__content--full {
  @include responsive(padding,2);
}
@media only screen and (max-width: $bp-medium-large) {
  .portfolio-item {
    width: 100%;
  }
}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Portfolio Item Large
// - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.portfolio-item--large {
  width: 100%;
  .portfolio-item__inner {
    margin: 0 0 2em 0;
    display: flex;
  }
  .portfolio-item__image-wrapper {
    width: 350px;
    max-width: 40%;
    flex: 0 0 auto;
  }
  .portfolio-item__image {
    position: static;
    width: 100%;
    display: block;
  }
  .portfolio-item__content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    padding: 1em;
    p {
      font-size: 0.9em;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .portfolio-item__title {
    margin: 0 0 0.5em;
  }
  .kicker {
    display: flex;
    margin: 0 0 0.5rem;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1em;
  }
  // .byline {
  //   margin: 0 0 0.35em;
  // }
  @media only screen and (max-width: $bp-medium-small) {
    .portfolio-item__inner {
      flex-flow: column;
    }
    .portfolio-item__image-wrapper {
      width: 100%;
      max-width: none;
    }
  }
  @media print {
    font-size: 0.875em;
    .portfolio-item__inner {
      margin-bottom: 1em;
    }
    .portfolio-item__content {
      padding: 0.5em 0.5em;
    }
    .portfolio-item__image-wrapper {
      width: 200px;
    }
    .portfolio-item__title {
      font-size: 1.5em;
      margin-bottom: 0.35em;
    }
    .external-link {
      display: none;
    }
    .kicker {
      margin-bottom: 0.25em;
    }
    p {
      line-height: 1.2;
    }
  }
}
.checkbox__container {
  display: flex;
}
.checkbox__label {
  display: flex;
  align-items: baseline;
  margin-right: 0.75em;
  > input {
    margin-right: 0.5rem;
  }
  &:last-child {
    margin-right: 0;
  }
}
//------------------------------------------------------------------------------
// Project
//------------------------------------------------------------------------------
.projects__container {
  display: flex;
  flex-flow: wrap;
}
.projects__column {
  flex: 0 0 50%;
  &:first-child { padding-right: 0.5rem; }
  &:last-child { padding-left: 0.5rem; }
}
.project {
  display: flex;
  margin-top: 0;
  flex-flow: column;
  padding: 0 0.75rem;
  margin-bottom: 0.35em;
}
.project--skills {
}
.project__inner {
  // flex: 1;
  margin: 0;
  position: relative;
  // padding-left: 0.5em;
  &:before {
    content: "\2022";
    display: block;
    position: absolute;
    font-size: 2rem;
    top: 0;
    left: -0.85rem;
    line-height: 0.55;
  }
}
.project__title {
  font-weight: bold;
  text-decoration: underline;
  color: #bbb !important;
  &.no-underline {
    text-decoration: none;
  }
}
.project__title-inner {
  color: #333;
}
.project__date {
  white-space: nowrap;
}
// .project__meta {
  // font-size: 0.9em;
  // line-height: 1.2;
// }
.project__meta-item {
  &:before {
    content: ", ";
  }
  &.item-0:before {
    content: none;
  }
}
@media (max-width: $bp-small) {
  .projects__container {
    // margin-left: -0.25em;
    display: block;
  }
  .projects__column:first-child,
  .projects__column:last-child {
    padding: 0;
  }
}
// @media print {
//   .projects__container {
//     font-size: 0.875em;
//   }
// }
//-----------------------------------------------------------------------------
// Job
//-----------------------------------------------------------------------------
.job {
  margin-bottom: 1.5rem;
  // padding-top: 0.25rem;
  + .job {
    margin-top: -0.4rem;
  }
}
.job__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}
.job__title {
  margin-bottom: 0;
  margin-right: 0.5em;
}
.job__subtitle {
  font-size: 0.55em;
  line-height: 1.6;
  letter-spacing: 0.0125em;
}
.job__header-location {
  font-weight: 500;
  white-space: nowrap;
}
.job__position {
  margin-bottom: 1em;
}
.job__header-date {
  font-family: 'Oswald', sans-serif;
  text-align: right;
}
.job__position-meta {
  font-size: 0.85em;
}
.job__explanation {
  font-size: 0.75em;
  margin-bottom: 0;
}
.job--no-padding {
  .job__content + p {
    display: none;
  }
  .job__position {
    &, p {
      margin-bottom: 0;
    }
  }
}
@media print {
  .job__title {
    display: flex;
    align-items: baseline;
    line-height: 1.1;
  }
  .job__header {
    line-height: 1.1rem;
  }
  .job__subtitle {
    margin-left: 0.5em;
    line-height: 1.2;
  }
}

// Skills
// .skill__type-container-title {
//   border-bottom: 1px solid #ddd;
//   margin-bottom: 1em;
// }
// .skill__item,
// .skill__list {
//   padding: 0;
//   margin: 0;
// }
// .skill__item {
//   list-style-type: none;
// }
// .skill__list--type {
//   display: flex;
//   flex-flow: wrap;
//   justify-content: space-between;
//   margin-left: -1rem;
//   margin-bottom: 1em
// }
// .skill__item--type {
//   // width: 20%;
//   // flex: 1;
//   margin-left: 1rem;
//   margin-bottom: 1em;
//   // min-width: 100px;
// }
// .skill__type-title {
//   margin: 0;
//   font-weight: bold;
//   text-transform: none;
//   border-bottom: 1px solid #ddd;
// }
// .skill__item--subskill {
//   font-size: 0.75em;
// }

//------------------------------------------------------------------------------
// Main Nav
//-----------------------------------------------------------------------------
.main-nav__container {
  width: 100%;
  position: absolute;
  background-color: #333;
  position: static;
  margin-bottom: 2em;
}
.site-header__container {
  background: none;
  height: auto;
}
.main-nav {
  display: flex;
  justify-content: center;
}
.main-nav__item {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  @include responsive(padding-left,1.5);
  @include responsive(padding-right,1.5);
  text-transform: uppercase;
  font-weight: bold;
  @include responsive(font-size,0.9,0.7);
  color: white;
  position: relative;
  &:not(:last-child):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 35%;
    width: 1px;
    // background: rgba(black,0.25);
    background-color: white;
  }
  &:first-child {
    padding-left: 0;
  }
  // &:last-child:after {
  //   content: none;
  // }
  &:hover {
    text-decoration: none;
    color: #ccc;
  }
}
// .main-nav__item--pdf {
//   display: block;
//   &:after {
//     content: '';
//     // position: static;
//     // outline: 1px solid red;
//     background-color: transparent;
//     display: block;
//     width: 20px;
//     height: 20px;
//     background-image: url(/images/icon--adobe-pdf-v2.png);
//     background-size: contain;
//   }
// }
.main-nav__spacer {
  height: 40px;
}
@media only screen and (max-width: $bp-medium) {
  .full-across {
    height: auto;
    position: static;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5em;
    > * {
      position: static;
    }
  }
}
@include breakpoint(small) {
  // li, p {
  //   line-height: 1.5;
  // }
  h2 {
    margin-top: 0;
    margin-bottom: 1em;
  }
  // article {
  //   margin-top: 0.5em;
  // }
  .columnize {
    .column {
      float: none !important;
      width: 100% !important;
      padding: 0;
      ul {
        margin-bottom: 0;
      }
    }
    .column:last-child ul {
      margin-bottom: 1em;

    }
  }
}
.code-snippet__trigger {
  cursor: pointer;
  color: #0e5f81;
  transition: 0.15s;
  &:hover {
    color: #072c3c;
  }
  &:after {
    content: "";
    display: inline-block;
    border-left: 0.65em solid #0e5f81;
    border-bottom: 0.4em solid transparent;
    border-top: 0.4em solid transparent;
    margin-left: 0.4em;
    transition: 0.4s;
  }
}
.code-snippet__trigger--active:after {
  transform: rotate(90deg);
}
.code-snippet {
  background-color: #f5f2f0;
  padding: 2em;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  // white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 14px;
  line-height: 1.2;
}


.external-link {
  font-weight: bold;
  &:after {
    content: "";
    display: inline-block;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="#0E5F81" d="M11,0l1.781,1.781l-0.5,0.5l-4,4L7.593,7l1.406,1.406l0.719-0.688l4-4l0.5-0.5l1.781,1.781v-5L11,0L11,0zM0,2v14h14V8h-2v6H2V4h6V2H0z"/></svg>');
    width: 12px;
    height: 12px;
    margin-left: 6px;
  }
  &.external-link--white {
    &:after {
      margin-left: 10px;
      margin-top: 2px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="white" d="M11,0l1.781,1.781l-0.5,0.5l-4,4L7.593,7l1.406,1.406l0.719-0.688l4-4l0.5-0.5l1.781,1.781v-5L11,0L11,0zM0,2v14h14V8h-2v6H2V4h6V2H0z"/></svg>');
    }
  }
}